# Assignment

- Student Name: Karina Jonina
- Student Code: c00278440
- Module Title: Data Analytics and Algorithms
- Module Code: ANALC5201
- Module Leader: Greg Doyle
- Course Name: Master of Science in Data Science
- Course Code: CW_KCDAR_M
- Assignment Weighting: 100%
- Due Date: 20th April 2022 12:00

## Introduction

Following the CRISP-M model

## Business Understanding

## Data Understanding

The dataset consists of past and current employees in a spreadsheet. Dataset was downloaded from https://www.kaggle.com/patelprashant/employee-attrition

According to Kaggle Description, the dataset was previously avaiable on IBM, however, it has been since taken down. 
https://www.ibm.com/communities/analytics/watson-analytics-blog/watson-analytics-use-case-for-hr-retaining-valuable-employees/

Research Question:
- Determine which factors keep employees at my company and which prompt others to leave?
- Which employees are likely to leave next?

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
# import statsmodels.api as sm
# import statsmodels.formula.api as smf
# import patsy
# from statsmodels.stats.outliers_influence import variance_inflation_factor
import plotly.graph_objects as go
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn import tree
# from sklearn.model_selection import GridSearchCV
# from sklearn import metrics
# from sklearn.cluster import KMeans
# from sklearn.decomposition import PCA
# from imblearn.over_sampling import SMOTE  # imblearn library can be installed using pip install imblearn
# from sklearn.ensemble import RandomForestClassifier

In [3]:
# read the CSV file
df = pd.read_csv('HR-Employee-Attrition.csv')

In [4]:
# prints out the first row for the dataset
print(df.head(1).transpose())

                                        0
Age                                    41
Attrition                             Yes
BusinessTravel              Travel_Rarely
DailyRate                            1102
Department                          Sales
DistanceFromHome                        1
Education                               2
EducationField              Life Sciences
EmployeeCount                           1
EmployeeNumber                          1
EnvironmentSatisfaction                 2
Gender                             Female
HourlyRate                             94
JobInvolvement                          3
JobLevel                                2
JobRole                   Sales Executive
JobSatisfaction                         4
MaritalStatus                      Single
MonthlyIncome                        5993
MonthlyRate                         19479
NumCompaniesWorked                      8
Over18                                  Y
OverTime                              Yes
PercentSalaryHike                      11
PerformanceRating                       3
RelationshipSatisfaction                1
StandardHours                          80
StockOptionLevel                        0
TotalWorkingYears                       8
TrainingTimesLastYear                   0
WorkLifeBalance                         1
YearsAtCompany                          6
YearsInCurrentRole                      4
YearsSinceLastPromotion                 0
YearsWithCurrManager                    5

In [5]:
# checking the df shape
print('The df has {} rows and {} columns.'.format(*df.shape))

The df has 1470 rows and 35 columns.

In [6]:
# prints out names of columns
print(df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [7]:
# This tells us which variables are object, int64 and float 64. This would mean that 
# some of the object variables might have to be changed into a categorical variables and int64 to float64 
# depending on our analysis.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

In [8]:
# checking for counts data and gives Mean, Sd and quartiles for all columns
print(df.describe().transpose())

                           count          mean          std     min      25%  \
Age                       1470.0     36.923810     9.135373    18.0    30.00
DailyRate                 1470.0    802.485714   403.509100   102.0   465.00
DistanceFromHome          1470.0      9.192517     8.106864     1.0     2.00
Education                 1470.0      2.912925     1.024165     1.0     2.00
EmployeeCount             1470.0      1.000000     0.000000     1.0     1.00
EmployeeNumber            1470.0   1024.865306   602.024335     1.0   491.25
EnvironmentSatisfaction   1470.0      2.721769     1.093082     1.0     2.00
HourlyRate                1470.0     65.891156    20.329428    30.0    48.00
JobInvolvement            1470.0      2.729932     0.711561     1.0     2.00
JobLevel                  1470.0      2.063946     1.106940     1.0     1.00
JobSatisfaction           1470.0      2.728571     1.102846     1.0     2.00
MonthlyIncome             1470.0   6502.931293  4707.956783  1009.0  2911.00
MonthlyRate               1470.0  14313.103401  7117.786044  2094.0  8047.00
NumCompaniesWorked        1470.0      2.693197     2.498009     0.0     1.00
PercentSalaryHike         1470.0     15.209524     3.659938    11.0    12.00
PerformanceRating         1470.0      3.153741     0.360824     3.0     3.00
RelationshipSatisfaction  1470.0      2.712245     1.081209     1.0     2.00
StandardHours             1470.0     80.000000     0.000000    80.0    80.00
StockOptionLevel          1470.0      0.793878     0.852077     0.0     0.00
TotalWorkingYears         1470.0     11.279592     7.780782     0.0     6.00
TrainingTimesLastYear     1470.0      2.799320     1.289271     0.0     2.00
WorkLifeBalance           1470.0      2.761224     0.706476     1.0     2.00
YearsAtCompany            1470.0      7.008163     6.126525     0.0     3.00
YearsInCurrentRole        1470.0      4.229252     3.623137     0.0     2.00
YearsSinceLastPromotion   1470.0      2.187755     3.222430     0.0     0.00
YearsWithCurrManager      1470.0      4.123129     3.568136     0.0     2.00

                              50%       75%      max
Age                          36.0     43.00     60.0
DailyRate                   802.0   1157.00   1499.0
DistanceFromHome              7.0     14.00     29.0
Education                     3.0      4.00      5.0
EmployeeCount                 1.0      1.00      1.0
EmployeeNumber             1020.5   1555.75   2068.0
EnvironmentSatisfaction       3.0      4.00      4.0
HourlyRate                   66.0     83.75    100.0
JobInvolvement                3.0      3.00      4.0
JobLevel                      2.0      3.00      5.0
JobSatisfaction               3.0      4.00      4.0
MonthlyIncome              4919.0   8379.00  19999.0
MonthlyRate               14235.5  20461.50  26999.0
NumCompaniesWorked            2.0      4.00      9.0
PercentSalaryHike            14.0     18.00     25.0
PerformanceRating             3.0      3.00      4.0
RelationshipSatisfaction      3.0      4.00      4.0
StandardHours                80.0     80.00     80.0
StockOptionLevel              1.0      1.00      3.0
TotalWorkingYears            10.0     15.00     40.0
TrainingTimesLastYear         3.0      3.00      6.0
WorkLifeBalance               3.0      3.00      4.0
YearsAtCompany                5.0      9.00     40.0
YearsInCurrentRole            3.0      7.00     18.0
YearsSinceLastPromotion       1.0      3.00     15.0
YearsWithCurrManager          3.0      7.00     17.0

In [9]:
# checking for missing data
pd.isna(df)
# not very useful as it is not possible to see all the columns

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
# checking for missing data
print('Nan in each columns' , df.isna().sum(), sep='\n')

Nan in each columns
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

####  Data Dictionary
| Attribute | DataType |  Description |
| :- | :- | :- |
| Age | int | Age of an employee |
| Attrition | text | Did the employee leave or not: Yes or No? |
| BusinessTravel | text | Did the employee travel for work: Travel_Rarely, Travel_Frequently, Non-Travel |
| DailyRate | int | Daily rate of employee salary |
| Department | int | The department that the employee worked in: Sales, Research & Development, Human Resources |
| DistanceFromHome | int | Number of *miles* away from home |
| Education | int | The education level reached by the employee: 1 'Below College' 2 'College' 3 'Bachelor' 4 'Master' 5 'Doctor' |
| EducationField | int | The area of study: Life Sciences, Medical, Marketing, Technical Degree, Human Resources,  Other |
| EmployeeCount | int | Unclear |
| EmployeeNumber | int | Employee number of the employee in the dataset |
| EnvironmentSatisfaction | int | 1 'Low' 2 'Medium' 3 'High' 4 'Very High' |
| Gender | text | Gender of employee: Male or Female |
| HourlyRate | int | Hourly Rate of Employee |
| JobInvolvement | int | 1 'Low' 2 'Medium' 3 'High' 4 'Very High' |
| JobLevel | int | 1 'Low' 2 'Medium' 3 'High' 4 'Very High |
| JobRole | int | Employee's job title: Sales Executive, Research Scientist, Laboratory Technician, Manufacturing Director, Healthcare Representative, Manager, Sales Representative, Research Director, Human Resources |
| JobSatisfaction | int | 1 'Low' 2 'Medium' 3 'High' 4 'Very High' |
| MaritalStatus | int | Employee's marital status: Single, Married, Divorced |
| MonthlyIncome | int | Employee's monthly salary |
| MonthlyRate | int | auto |
| NumCompaniesWorked | int | auto |
| Over18 | int | Employee's Over-18 status: Y |
| OverTime | text | Employee's overtime status: Yes, No |
| PercentSalaryHike | int | auto |
| PerformanceRating | int | auto |
| RelationshipSatisfaction | int | 1 'Low' 2 'Good' 3 'Excellent' 4 'Outstanding' |
| StandardHours | int | auto |
| StockOptionLevel | int | auto |
| TotalWorkingYears | int | auto |
| TrainingTimesLastYear | int | auto |
| WorkLifeBalance | int | 1 'Bad' 2 'Good' 3 'Better' 4 'Best' |
| YearsAtCompany | int | auto |
| YearsInCurrentRole | int | auto |
| YearsSinceLastPromotion | int | auto |
| YearsWithCurrManager | int | auto |

Please note: DistanceFromHome was assumed to be in miles, this was not provided in the data dictionary.

#####  Data Dictionary: Target Variable
| Attribute | DataType |  Description |
| :- | :- | :- |
| Attrition | text | Did the employee leave or not: Yes or No? |

In [11]:
# Looking for all the unique values in all the columns
column = df.columns
for i in column:
    print('\n',i,'\n',df[i].unique(),'\n','-'*80)

 Age
 [41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60]
 --------------------------------------------------------------------------------

 Attrition
 ['Yes' 'No']
 --------------------------------------------------------------------------------

 BusinessTravel
 ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
 --------------------------------------------------------------------------------

 DailyRate
 [1102  279 1373 1392  591 1005 1324 1358  216 1299  809  153  670 1346
  103 1389  334 1123 1219  371  673 1218  419  391  699 1282 1125  691
  477  705  924 1459  125  895  813 1273  869  890  852 1141  464 1240
 1357  994  721 1360 1065  408 1211 1229  626 1434 1488 1097 1443  515
  853 1142  655 1115  427  653  989 1435 1223  836 1195 1339  664  318
 1225 1328 1082  548  132  746  776  193  397  945 1214  111  573 1153
 1400  541  432  288  669  530  632 1334  638 1093 1217 1353  120  682
  489  807  827  871  665 1040 1420  240 1280  534 1456  658  142 1127
 1031 1189 1354 1467  922  394 1312  750  441  684  249  841  147  528
  594  470  957  542  802 1355 1150 1329  959 1033 1316  364  438  689
  201 1427  857  933 1181 1395  662 1436  194  967 1496 1169 1145  630
  303 1256  440 1450 1452  465  702 1157  602 1480 1268  713  134  526
 1380  140  629 1356  328 1084  931  692 1069  313  894  556 1344  290
  138  926 1261  472 1002  878  905 1180  121 1136  635 1151  644 1045
  829 1242 1469  896  992 1052 1147 1396  663  119  979  319 1413  944
 1323  532  818  854 1034  771 1401 1431  976 1411 1300  252 1327  832
 1017 1199  504  505  916 1247  685  269 1416  833  307 1311  128  488
  529 1210 1463  675 1385 1403  452  666 1158  228  996  728 1315  322
 1479  797 1070  442  496 1372  920  688 1449 1117  636  506  444  950
  889  555  230 1232  566 1302  812 1476  218 1132 1105  906  849  390
  106 1249  192  553  117  185 1091  723 1220  588 1377 1018 1275  798
  672 1162  508 1482  559  210  928 1001  549 1124  738  570 1130 1192
  343  144 1296 1309  483  810  544 1062 1319  641 1332  756  845  593
 1171  350  921 1144  143 1046  575  156 1283  755  304 1178  329 1362
 1371  202  253  164 1107  759 1305  982  821 1381  480 1473  891 1063
  645 1490  317  422 1485 1368 1448  296 1398 1349  986 1099 1116 1499
  983 1009 1303 1274 1277  587  413 1276  988 1474  163  267  619  302
  443  828  561  426  232 1306 1094  509  775  195  258  471  799  956
  535 1495  446 1245  703  823 1246  622 1287  448  254 1365  538  525
  558  782  362 1236 1112  204 1343  604 1216  646  160  238 1397  306
  991  482 1176  913 1076  727  885  243  806  817 1410 1207 1442  693
  929  562  608  580  970 1179  294  314  316  654  168  381  217  501
  650  141  804  975 1090  346  430  268  167  621  527  883  954  310
  719  725  715  657 1146  182  376  571  384  791 1111 1243 1092 1325
  805  213  118  676 1252  286 1258  932 1041  859  720  946 1184  436
  589  760  887 1318  625  180  586 1012  661  930  342 1230 1271 1278
  607  130  300  583 1418 1269  379  395 1265 1222  341  868 1231  102
  881 1383 1075  374 1086  781  177  500 1425 1454  617 1085  995 1122
  618  546  462 1198 1272  154 1137 1188  188 1333  867  263  938  129
  616  498 1404 1053  289 1376  231  152  882  903 1379  335  722  461
  974 1126  840 1134  248  955  939 1391 1206  287 1441  109 1066  277
  466 1055  265  135  247 1035  266  145 1038 1234 1109 1089  788  124
  660 1186 1464  796  415  769 1003 1366  330 1492 1204  309 1330  469
  697 1262 1050  770  406  203 1308  984  439  793 1451 1182  174  490
  718  433  773  603  874  367  199  481  647 1384  902  819  862 1457
  977  942 1402 1421 1361  917  200  150  179  696  116  363  107 1465
  458 1212 1103  966 1010  326 1098  969 1167  694 1320  536  373  599
  251  131  237 1429  648  735  531  429  968  879  640  412  848  360
 1138  325 1322  299 1030  634  524  256 1060  935  495  282  206  943
  523  507  601  855 1291 1405 1369  999 1202  285  404  736 1498 1200
 1439  499  205  683 1462  949  652  332 1475  337  971 1174  667  560
  172  383 1255  359  401  377  592 1445 1221  866  981  447 1326  748
  990  405  115  790  830 1193 1423  467  271  410 1083  516  224  136
 1029  333 1440  674 1342  898  824  492  598  740  888 1288  104 1108
  479 1351  474  437  884 1370  264 1059  563  457 1313  241 1015  336
 1387  170  208  671  711  737 1470  365  763  567  486  772  301  311
  584  880  392  148  708 1259  786  370  678  146  581  918 1238  585
  741  552  369  717  543  964  792  611  176  897  600 1054  428  181
  211 1079  590  305  953  478 1375  244  511 1294  196  734 1239 1253
 1128 1336  234  766  261 1194  431  572 1422 1297  574  355  207  706
  280  726  414  352 1224  459 1254 1131  835 1172 1266  783  219 1213
 1096 1251 1394  605 1064 1337  937  157  754 1168  155 1444  189  911
 1321 1154  557  642  801  161 1382 1037  105  582  704  345 1120 1378
  468  613 1023  628]
 --------------------------------------------------------------------------------

 Department
 ['Sales' 'Research & Development' 'Human Resources']
 --------------------------------------------------------------------------------

 DistanceFromHome
 [ 1  8  2  3 24 23 27 16 15 26 19 21  5 11  9  7  6 10  4 25 12 18 29 22
 14 20 28 17 13]
 --------------------------------------------------------------------------------

 Education
 [2 1 4 3 5]
 --------------------------------------------------------------------------------

 EducationField
 ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
 --------------------------------------------------------------------------------

 EmployeeCount
 [1]
 --------------------------------------------------------------------------------

 EmployeeNumber
 [   1    2    4 ... 2064 2065 2068]
 --------------------------------------------------------------------------------

 EnvironmentSatisfaction
 [2 3 4 1]
 --------------------------------------------------------------------------------

 Gender
 ['Female' 'Male']
 --------------------------------------------------------------------------------

 HourlyRate
 [ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38]
 --------------------------------------------------------------------------------

 JobInvolvement
 [3 2 4 1]
 --------------------------------------------------------------------------------

 JobLevel
 [2 1 3 4 5]
 --------------------------------------------------------------------------------

 JobRole
 ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
 --------------------------------------------------------------------------------

 JobSatisfaction
 [4 2 3 1]
 --------------------------------------------------------------------------------

 MaritalStatus
 ['Single' 'Married' 'Divorced']
 --------------------------------------------------------------------------------

 MonthlyIncome
 [5993 5130 2090 ... 9991 5390 4404]
 --------------------------------------------------------------------------------

 MonthlyRate
 [19479 24907  2396 ...  5174 13243 10228]
 --------------------------------------------------------------------------------

 NumCompaniesWorked
 [8 1 6 9 0 4 5 2 7 3]
 --------------------------------------------------------------------------------

 Over18
 ['Y']
 --------------------------------------------------------------------------------

 OverTime
 ['Yes' 'No']
 --------------------------------------------------------------------------------

 PercentSalaryHike
 [11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]
 --------------------------------------------------------------------------------

 PerformanceRating
 [3 4]
 --------------------------------------------------------------------------------

 RelationshipSatisfaction
 [1 4 2 3]
 --------------------------------------------------------------------------------

 StandardHours
 [80]
 --------------------------------------------------------------------------------

 StockOptionLevel
 [0 1 3 2]
 --------------------------------------------------------------------------------

 TotalWorkingYears
 [ 8 10  7  6 12  1 17  5  3 31 13  0 26 24 22  9 19  2 23 14 15  4 29 28
 21 25 20 11 16 37 38 30 40 18 36 34 32 33 35 27]
 --------------------------------------------------------------------------------

 TrainingTimesLastYear
 [0 3 2 5 1 4 6]
 --------------------------------------------------------------------------------

 WorkLifeBalance
 [1 3 2 4]
 --------------------------------------------------------------------------------

 YearsAtCompany
 [ 6 10  0  8  2  7  1  9  5  4 25  3 12 14 22 15 27 21 17 11 13 37 16 20
 40 24 33 19 36 18 29 31 32 34 26 30 23]
 --------------------------------------------------------------------------------

 YearsInCurrentRole
 [ 4  7  0  2  5  9  8  3  6 13  1 15 14 16 11 10 12 18 17]
 --------------------------------------------------------------------------------

 YearsSinceLastPromotion
 [ 0  1  3  2  7  4  8  6  5 15  9 13 12 10 11 14]
 --------------------------------------------------------------------------------

 YearsWithCurrManager
 [ 5  7  0  2  6  8  3 11 17  1  4 12  9 10 15 13 16 14]
 --------------------------------------------------------------------------------

## Data Preparation

In [12]:
# All columns that have text in them but are categorical variables
df['Gender'] = df['Gender'].astype('category')
df['OverTime'] = df['OverTime'].astype('category')
df['BusinessTravel'] = df['BusinessTravel'].astype('category')
df['Department'] = df['Department'].astype('category')
df['JobRole'] = df['JobRole'].astype('category')
df['StockOptionLevel'] = df['StockOptionLevel'].astype('category')
df['Education'] = df['Education'].astype('category')
df['EducationField'] = df['EducationField'].astype('category')
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype('category')
df['JobInvolvement'] = df['JobInvolvement'].astype('category')
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].astype('category')


# Target Variable
df['Attrition'] = df['Attrition'].astype('category')

In [13]:
# MaritialStatus
df['MaritalStatus'] = df['MaritalStatus'].astype('category')

#reordering - important in graphs
df['MaritalStatus'] = df['MaritalStatus'].cat.reorder_categories(['Single', 'Married', 'Divorced'], 
                                                                 ordered=True)
#examining unique values 
df['MaritalStatus'].unique()

['Single', 'Married', 'Divorced']
Categories (3, object): ['Single' < 'Married' < 'Divorced']

In [14]:
# checking data to check that all objects have been changed to categorical variables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   category
 2   BusinessTravel            1470 non-null   category
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   category
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   category
 7   EducationField            1470 non-null   category
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   category
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   category
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   category
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   category
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   category
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   category
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   category
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   category
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: category(13), int64(21), object(1)
memory usage: 273.8+ KB

##### Dropping columns

| Attribute | Reason |
| :- | :- | 
| EmployeeCount | No data description was provided and all values are '1' |
| EmployeeNumber  | Redundant - in pandas index is used |
| Over18 | All employees are/were over 18 |
| StockOptionLevel | No data description was provided |
| PerformanceRating | Only two values: Excellent and Outstanding. Unclear what is the difference between the two |
| StandardHours | No data description was provided and all values are '80' |

In [15]:
# EmployeeCount has no column description and all values are '1'
df.groupby(['EmployeeCount']).size().sort_values(ascending=False)

EmployeeCount
1    1470
dtype: int64

In [16]:
# All employees are over 18
df.groupby(['Over18']).size().sort_values(ascending=False)

Over18
Y    1470
dtype: int64

In [17]:
# StockOptionLevel has no column description 
df.groupby(['StockOptionLevel']).size().sort_values(ascending=False)

StockOptionLevel
0    631
1    596
2    158
3     85
dtype: int64

In [18]:
# PerformanceRating have 2 values and are very similar.
df.groupby(['PerformanceRating']).size().sort_values(ascending=False)

PerformanceRating
3    1244
4     226
dtype: int64

In [19]:
 # StandardHours has no column description and all values are '80'
df.groupby(['StandardHours']).size().sort_values(ascending=False)

StandardHours
80    1470
dtype: int64

In [20]:
df = df.drop(['EmployeeCount','EmployeeNumber', 'Over18', 
              'StockOptionLevel', 'PerformanceRating', 'StandardHours'], axis=1)

KeyError: "['EmployeeCountNumber'] not found in axis"

In [ ]:
# prints out names of columns
print(df.columns)

In [ ]:
# checking the df shape
print('The df has {} rows and {} columns.'.format(*df.shape))
#The df has 10339 rows and 15 columns.

In [ ]:
# prints out the first row for the dataset
print(df.head(1).transpose())

In [ ]:
# checking for counts data and gives Mean, Sd and quartiles for all columns
print(df.describe().transpose())

#### Target Variable: Attrition

In [ ]:
# Attrition 
df.groupby(['Attrition']).size().sort_values(ascending=False)

## Data Visualisation

In [ ]:
# ATTRITION
attrition = df.groupby(['Attrition']).size().sort_values(ascending=False)
attrition = pd.DataFrame(attrition)
attrition = attrition.reset_index(drop=False)
attrition = attrition.rename(columns={0 : "size"})

fig = px.bar(x = attrition["Attrition"], y =  attrition["size"], 
                     color = attrition["Attrition"])

fig.update_layout(title = "Attrition Rate",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition")
fig.show()

In [ ]:
# EDUCATION
Education = df.groupby(['Education', 'Attrition']).size().sort_values(ascending=False)
Education = Education.reset_index(drop=False)
Education = Education.rename(columns={0 : "size"})

fig = px.bar(x = Education["Education"], 
             y = Education["size"], 
             color = Education["Attrition"])

for idx in range(len(fig.data)):
    fig.data[idx].x = ['Below College','College','Bachelor', 'Master', 'Doctor']

fig.update_layout(title = "Breakdown of Education",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# EDUCATIONFIELD
EducationField = df.groupby(['EducationField', 'Attrition']).size().sort_values(ascending=False)
EducationField = EducationField.reset_index(drop=False)
EducationField = EducationField.rename(columns={0 : "size"})

fig = px.bar(x = EducationField["EducationField"], 
             y = EducationField["size"], 
             color = EducationField["Attrition"])

fig.update_layout(title = "Breakdown of Education Field",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# BUSINESS TRAVEL
BusinessTravel = df.groupby(['BusinessTravel', 'Attrition']).size().sort_values(ascending=False)
BusinessTravel = pd.DataFrame(BusinessTravel)
BusinessTravel = BusinessTravel.reset_index(drop=False)
BusinessTravel = BusinessTravel.rename(columns={0 : "size"})


fig = px.bar(x = BusinessTravel["BusinessTravel"], 
                     y =  BusinessTravel["size"], 
                     color = BusinessTravel["Attrition"])

fig.update_layout(title = "Business Travel",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')

fig.show()

In [ ]:
# DEPARTMENT
Department = df.groupby(['Department', 'Attrition']).size().sort_values(ascending=False)
Department = pd.DataFrame(Department)
Department = Department.reset_index(drop=False)
Department = Department.rename(columns={0 : "size"})

fig = px.bar(x = Department["Department"], 
                     y =  Department["size"], 
                     color = Department["Attrition"])

fig.update_layout(title = "Breakdown by Department",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')

fig.show()

In [ ]:
# GENDER
gender = df.groupby(['Gender', 'Attrition']).size().sort_values(ascending=False)
gender = pd.DataFrame(gender)

gender = gender.reset_index(drop=False)
gender = gender.rename(columns={0 : "size"})

fig = px.bar(x = gender["Gender"], 
             y =  gender["size"], 
             color = gender["Attrition"])

fig.update_layout(title = "Breakdown of Genders",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# EDUCATION
OverTime = df.groupby(['OverTime', 'Attrition']).size().sort_values(ascending=False)
OverTime = OverTime.reset_index(drop=False)
OverTime = OverTime.rename(columns={0 : "size"})

fig = px.bar(x = OverTime["OverTime"], 
             y = OverTime["size"], 
             color = OverTime["Attrition"])


fig.update_layout(title = "Breakdown of Over Time",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# JOBROLE
jobrole = df.groupby(['JobRole', 'Attrition']).size().sort_values(ascending=False)
jobrole = pd.DataFrame(jobrole)

jobrole = jobrole.reset_index(drop=False)
jobrole = jobrole.rename(columns={0 : "size"})

fig = px.bar(x = jobrole["JobRole"], 
             y = jobrole["size"], 
             color = jobrole["Attrition"])

fig.update_layout(title = "Breakdown of Job Role",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# MARITALSTATUS
maritalstatus = df.groupby(['MaritalStatus', 'Attrition']).size().sort_values(ascending=False)
maritalstatus = pd.DataFrame(maritalstatus)

maritalstatus = maritalstatus.reset_index(drop=False)
maritalstatus = maritalstatus.rename(columns={0 : "size"})

fig = px.bar(x = maritalstatus["MaritalStatus"], 
             y =  maritalstatus["size"], 
             color = maritalstatus["Attrition"],
             # not working correctly
             category_orders={"MaritalStatus": ['Single','Married','Divorced']})

fig.update_layout(title = "Breakdown of Marital Status",
                  legend_title_text="Attrition",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  barmode='group')
fig.show()

In [ ]:
# WORKLIFEBALANCE
worklifebalance = df.groupby(['WorkLifeBalance', 'Attrition']).size().sort_values(ascending=False)
worklifebalance = worklifebalance.reset_index(drop=False)
worklifebalance = worklifebalance.rename(columns={0 : "size"})

fig = px.bar(x = worklifebalance["WorkLifeBalance"], 
             y = worklifebalance["size"], 
             color = worklifebalance["Attrition"])

for idx in range(len(fig.data)):
    fig.data[idx].x = ['Bad','Good','Better', 'Best']

fig.update_layout(title = "Breakdown of Work Life Balance",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# JobSatisfaction
JobSatisfaction = df.groupby(['JobSatisfaction', 'Attrition']).size().sort_values(ascending=False)
JobSatisfaction = JobSatisfaction.reset_index(drop=False)
JobSatisfaction = JobSatisfaction.rename(columns={0 : "size"})

fig = px.bar(x = JobSatisfaction["JobSatisfaction"], 
             y = JobSatisfaction["size"], 
             color = JobSatisfaction["Attrition"])

for idx in range(len(fig.data)):
    fig.data[idx].x = ['Low','Medium','High', 'Very High']

fig.update_layout(title = "Breakdown of Job Satisfaction",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
# JobInvolvement
JobInvolvement = df.groupby(['JobInvolvement', 'Attrition']).size().sort_values(ascending=False)
JobInvolvement = JobInvolvement.reset_index(drop=False)
JobInvolvement = JobInvolvement.rename(columns={0 : "size"})

fig = px.bar(x = JobInvolvement["JobInvolvement"], 
             y = JobInvolvement["size"], 
             color = JobInvolvement["Attrition"])

for idx in range(len(fig.data)):
    fig.data[idx].x = ['Low','Medium','High', 'Very High']

fig.update_layout(title = "Breakdown of Job Involvement",
                  yaxis_title = 'Number of Employees', 
                  xaxis_title =  None, 
                  legend_title_text="Attrition",
                  barmode='group')
fig.show()

In [ ]:
numeric = df[['Attrition', 'Age', 'DailyRate','DistanceFromHome', 
       'HourlyRate', 'JobLevel',  'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 
       'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'
             ]]

In [ ]:
numeric.head(1).transpose()

In [ ]:
z = numeric.corr()

fig = px.imshow(z)
fig.update_layout(title = "Heatmap of Numeric Variables")
fig.show()

In [ ]:
fig = px.scatter_matrix(numeric, color = 'Attrition')
fig.show()

In [ ]:
# # Run VIF for all variable in original dataframe
# vif = pd.DataFrame()
# vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
# vif["features"] = X.columns
# vif.round(1)

## Modelling

##### Target Variable

In [ ]:
df['Attrition'] = df['Attrition'].astype('str')
df['Attrition'] = df['Attrition'].str.replace('No', '0')
df['Attrition'] = df['Attrition'].str.replace('Yes', '1')
df['Attrition'] = df['Attrition'].astype('int')

In [ ]:
df.head(1).transpose()

In [ ]:
final_data = pd.get_dummies(df)
print(final_data.info())

In [ ]:
print(final_data.head(1).transpose())

In [ ]:
## Dividing dataset into label and feature sets
X = final_data.drop('Attrition', axis = 1)

In [ ]:
# axis = 1 means we are dropping a column - as this is the 
# target variable, 1 denotes column, 0 denotes row (Just Indepedent Variables - so drop the target var)
Y = final_data['Attrition'] # Labels
print(type(X))
print(type(Y))

In [ ]:
# so we now rows shown and have 63 independent variables
print(X.shape) 
# total rows and a single column
print(Y.shape)

##### Normalizing dataset
Normalizing numerical features so that each feature has mean 0 and variance 1

In [ ]:
feature_scaler = StandardScaler()
X_scaled = feature_scaler.fit_transform(X) #this is now a normalised feature set

In [ ]:
## Dividing dataset into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split( X_scaled, Y, test_size = 0.3, random_state = 100)

print(X_train.shape) #70 % chosen random set
print(X_test.shape) # 30 % randomly set test set

##### SMOTE
Implementing Oversampling to balance the dataset; 
SMOTE stands for Synthetic Minority Oversampling TEchnique

Oversampling is needed because there's a large imbalance in the class Attrition (No - 0) and (Yes - 1)
WHICH WOULD RESULT IN IMBALANCED LEARNING - so it will not learn much about the minority class - so it will become good at predicting majority class but not minority class above shows that if there is ___ training data set, this is currently split by No ___ and Yes ___ 

THIS IS CLEARLY IMBALANCED,SO PROCEED TO BALANCE:
Balance the training set only - not the test set - because in the real world the data set will be imbalanced.

Usually we upsize the minority class - rarely downsize - creates artificial samples that are similar to existing ones and inserts them into the exisiting samples

In [ ]:
# Implementing Oversampling to balance the dataset; 
# SMOTE stands for Synthetic Minority Oversampling TEchnique
print("Number of observations in each class before oversampling (training data): \n", 
      pd.Series(Y_train).value_counts())


smote = SMOTE(random_state = 101)
X_train,Y_train = smote.fit_sample(X_train,Y_train)

print("Number of observations in each class after oversampling (training data): \n", 
      pd.Series(Y_train).value_counts())

## Model Evaluation

## Limitations

## Deployment

## Conclusion

## Reference